body {
  background-color: #ececec;
  font-family: 'Roboto';
  font-size: 16px;
  -webkit-user-select: none;
  padding: 0px;
  margin: 0px;
  filter: blur(0px);
  transition: .2s;
}
.blurred > *:not(.noblur) {
  filter: blur(5px);
  transition: .2s;
}
#template-search {
  outline: none;
  background-color: white;
  width: 50%;
  height: 30px;
  margin: 15px 25%;
  margin-bottom: 0px;
  text-align: center;
  border-width: 0px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
}
#suggestions {
  z-index: 2;
  position: absolute;
  outline: none;
  width: 50%;
  margin: 15px 25%;
  margin-top: 0px;
  border-radius: 5px;
}
#suggestions .suggested {
  line-height: 16px;
  width: fit-content;
  text-align: center;
  border-radius: 5px;
  background-color: #414141;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 5px;
  color: white;
  padding: 12px 12px;
  display: block;
}
#template-holder {
  -webkit-user-select: text;
  color: black;
  margin: 15px;
}
#template-holder div {
  margin: 5px 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: gainsboro;
}
#template {
  background-color: gainsboro;
  border-radius: 5px;
  line-height: 30px;
  color: black;
  margin: 15px;
  padding: 10px;
}
#search-type .dropbtn {
  padding: 5px;
  background-color: #414141;
  color: white;
}
#search-type .dropbtn:hover {
  background-color: #e47169;
  color: white;
}
#search-type .dropdown-content div {
  background-color: #414141;
  color: white;
}
#search-type .dropdown-content div:hover {
  background-color: #e47169;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropbtn {
  outline: none;
  background-color: gainsboro;
  border: solid transparent;
  border-width: 1px;
  border-radius: 5px;
  color: black;
  padding: 2px;
  margin: 2px;
  font-size: 16px;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  border-radius: 5px;
  z-index: 1;
  border-width: 0px;
}
.dropdown .dropdown-content div {
  line-height: 16px;
  width: fit-content;
  background-color: gainsboro;
  border: solid transparent;
  border-width: 1px;
  border-radius: 5px;
  color: black;
  padding: 6px;
  margin: 5px;
  display: block;
}
.dropdown .dropdown-content div:hover {
  border-color: #e47169;
}
.progression {
  border-radius: 5px;
}
#results {
  background-color: gainsboro;
  color: black;
  margin: 15px;
  border-radius: 5px;
  overflow: scroll;
}
#results .result {
  background-color: #ececec;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
#add-custom {
  outline: none;
  background-color: #414141;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
}
#add-custom:hover {
  background-color: #e47169;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}
